*{
  margin: 0;
  padding: 0;
}
header, .Footer {
  background-color: black;
  color: white;
  font-size: xx-large;
  text-align: center;
  padding-top: 5px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.Footer {
  font-size: large;
  position: absolute;
  left:0;
  right:0;
  bottom: 0;
  height: 30px;
  padding: 10px;
}